#head {
    border-style: solid;
}
@keyframes shuffle {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(-45deg);}
  100% {transform: rotateY(-90deg);}
}
/* @keyframes shuffle2 {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(-45deg);}
  75% {transform: rotateY(-67deg);}
  100% {transform: rotateY(-90deg);}
} */
#door1 {
  background-image: url(woodtext.jpg);
  height: 200px;
  position: absolute;
  width: 50%;
  text-align: center;
  animation:shuffle 3s forwards;
  animation-delay: 3s;
  transform-origin: left;
  border-style: solid;
  z-index: 2;
  display: inline-block;
  left: 0;
  line-height: 50px;
}
#door2 {
  background-image: url(woodtext.jpg);
  height: 200px;
  position: absolute;
  width: 50%;
  text-align: center;
  animation:shuffle 3s forwards;
  animation-delay: 3s;
  transform-origin: right;
  border-style: solid;
  z-index: 2;
  display: inline-block;
  right: 0;
  line-height: 50px
}
#reveal {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  clear: both;
}
div#reveal {
  background-image: url(sparkles.gif);
  background-color: tomato;
}
#andmore {
  height: 200px;
  margin-top: 0px;
  line-height: 200px;
}
#s1 {
  display: inline-block;
  padding-top: 50px;
  position: relative;
}
img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}
#s2 {
  text-align: center;
  background-color: #954520;
}
.s3 {
  display: inline-block;
  opacity: 0;
  margin-right: 50px;
}
.s4 {
  display: inline-block;
  opacity: 0;
  margin-right: 50px;
}
.s5 {
  display: inline-block;
  opacity: 0;
  margin-right: 50px;
  animation-delay:
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation: fadeIn 3s forwards;
}
