@keyframes shuffle {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(-45deg);}
  100% {transform: rotateY(-90deg);}
}
/* @keyframes shuffle2 {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(-45deg);}
  75% {transform: rotateY(-67deg);}
  100% {transform: rotateY(-90deg);}
} */
#door1 {
  background-color: skyblue;
  height: 200px;
  position: absolute;
  width: 50%;
  text-align: center;
  animation:shuffle 3s forwards;
  animation-delay: 4s;
  transform-origin: left;
  border-style: solid;
  z-index: 2;
  display: inline-block;
  left: 0;
}
#door2 {
  background-color: skyblue;
  height: 200px;
  position: absolute;
  width: 50%;
  text-align: center;
  animation:shuffle 3s forwards;
  animation-delay: 4s;
  transform-origin: right;
  border-style: solid;
  z-index: 2;
  display: inline-block;
  right: 0
}
#reveal {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  clear: both;
}
#s1 {
  display: inline-block;
  padding-top: 50px;
  position: relative;
}
img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}
#s2 {
  text-align: center;
}
